body{
    background-color: #CA541D;
}
.box{
    background-color: #1d93ca;
    padding: 10px;
    margin-bottom: 10px;
}
.box2{
    background-color: #1d93ca;
    margin-bottom: 10px;
    padding: 5px;
    
}